<link rel="stylesheet" href="app/views/pages/Images/TeamMembers/logincss.css">	
<link rel="stylesheet" href="app/views/pages/Images/TeamMembers/footer.css">	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	

	<div class="card text-center">
	  <div class="card-header">
	    Featured
	  </div>
	  <div class="card-body">
	    <h5 class="card-title"> ASL Translation System</h5>
	    <p class="card-text">This web application is capable of translatting ASL sign phrases to English language. Read our home page instructions before visiting the translation pages .</p>
	    <a href="#/home" class="btn btn-primary"> Home </a>
	  </div>
	  <div class="card-footer text-muted">
	  </div>
	</div>
	<p>&nbsp</p>
	<p>&nbsp</p>

  <div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">Phrase Convertion</h5>
	        <p class="card-text"> "Hope you've read the instructions given in the home page"</p>
	        <a href="app/views/pages/conversionPage/index_con.html" class="btn btn-primary">Start</a>
	      </div>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title">Letter Convertion</h5>
	        <p class="card-text">"Hope you've read the instructions given in the home page"</p>
	        <a href="app/views/pages/Letter Con Page/index_con_letters.html" class="btn btn-primary">Start</a>
	      </div>
	    </div>
	  </div>
	</div>
	<p>&nbsp</p>
    <p>&nbsp</p>

  	<!---- Our Team Members ---->
    <a name="AboutUs">
    <div class="team-section">
      <div class="inner-width">
        <div class="pers">
          <p>&nbsp</p>
          <p>&nbsp</p>

        </div>
      </div>
    </div>
    </a>

  <!---- Footer ---->
    <a name="Footer">
    <div class="footer">
      <div class="middle1">
        <a class="bttn icon1" href="https://www.facebook.com/">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="bttn icon2" href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="bttn icon3" href="https://www.google.com/">
          <i class="fab fa-google"></i>
        </a>
        <a class="bttn icon4" href="https://www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="bttn icon5" href="https://www.youtube.com/">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <p>&nbsp</p>
      <div><i class="fas fa-envelope"></i> &nbsp anglet.translate@gmail.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fas fa-phone"></i> &nbsp (+94)71-123-456 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fas fa-home"></i> &nbsp 25/F, Colombo 07, Sri Lanka</div>
      <p>&nbsp</p>
      <div>© 2020 ANGLET. All rights reserved. No part of this site may be reproduced without our written permission.</div>
      <div></div>
    </div>
    </a>