<link rel="stylesheet" href="app/views/pages/Images/TeamMembers/logincss.css">	
<link rel="stylesheet" href="app/views/pages/Images/TeamMembers/footer.css">	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<div style = "" class="container">
	
	<div class="text-center">
		<div class="page-header">
			<h4>User Login</h4>
			<br>
		</div>
	</div>

	<form class = "form" ng-submit = "main.doLogin(loginData);">
		<!-- Username -->
		<label> <h4>Username</h4> </label>
		<input class="form-control" type="text" name="username" placeholder="Please enter a username" ng-model="main.loginData.username">
		<br>

		<!-- Password -->
		<label> <h4>Password</h4> </label>
		<input class="form-control" type="password" name="password" placeholder="Please enter a new password" ng-model="main.loginData.password">
		<br>
		<h6>If you don't have an account <a href="#/register">register</a> from here </h6>
		<br>

		<div class="text-center">
			<button class="btn btn-primary button" type="submit"> Login </button>
		</div>
	</form>

	<br>
	<br>


	<div class="row show-hide-message" ng-show="main.successMsg">
		<div class="alert alert-success">
			{{ main.successMsg }}
		</div>
	</div>

	<br>

	<div class="row show-hide-message" ng-show="main.errorMsg">
		<div class="alert alert-danger">
			{{ main.errorMsg }}
		</div>
	</div>


</div>

	<div class="main">
		<h1>Personal Help</h1>
		<ul class="cards">
		    <li class="cards_item">
		      <div class="card">
		        <div class="card_image"><img src="app/views/pages/Images/TeamMembers/Password.gif"></div>
		        <div class="card_content">
		          <h2 class="card_title"> Password / Pin </h2>
		          <p class="card_text"></p>
		          
		        </div>
		      </div>
		    </li>
		    <li class="cards_item">
		      <div class="card">
		        <div class="card_image"><img src="app/views/pages/Images/TeamMembers/name.gif"></div>
		        <br><br>
		        <div class="card_content">
		        <br><br>
		          <h2 class="card_title">Username / Name </h2>
		          <p class="card_text"></p>
		          
		        </div>
		      </div>
		    </li>
		    <li class="cards_item">
		      <div class="card">
		        <div class="card_image"><img src="app/views/pages/Images/TeamMembers/login.gif"></div>
		        <div class="card_content">
		          <h2 class="card_title"> Login / Register </h2>
		          <p class="card_text"></p>
		          
		        </div>
		      </div>
		    </li>
		</ul>
	</div>
	<br><br><br><br><br><br>

	<a name="Footer">
    <div class="footer">
      <div class="middle1">
        <a class="bttn icon1" href="https://www.facebook.com/">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="bttn icon2" href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="bttn icon3" href="https://www.google.com/">
          <i class="fab fa-google"></i>
        </a>
        <a class="bttn icon4" href="https://www.instagram.com">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="bttn icon5" href="https://www.youtube.com/">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <div><i class="fas fa-envelope"></i> &nbsp anglet.translate@gmail.com &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fas fa-phone"></i> &nbsp (+94)71-123-456 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fas fa-home"></i> &nbsp 25/F, Colombo 07, Sri Lanka</div>
      <p>&nbsp</p>
      <div>© 2020 ANGLET. All rights reserved. No part of this site may be reproduced without our written permission.</div>
      <div></div>
    </div>
    </a>
    